<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.12.1">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.36">
    <script>node(&apos;master&apos;) {
    docker.withServer(&apos;unix:///var/run/docker.sock&apos;) {
        stage(&apos;Run&apos;) {
            // def demo = docker.image(&apos;javaee/java-demo&apos;)
            // def container = demo.run(&apos;-p 8083:80&apos;)
            // container.stop()
            sh &apos;docker stop demo&apos;
            sh &apos;docker run -d -p 8082:80 --name demo javaee/java-demo&apos;
        }
    }
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>